EXPO_PUBLIC_JUPITER_API_KEY=your-jupiter-api-key
EXPO_PUBLIC_HELIUS_API_KEY=your-helius-api-key
EXPO_PUBLIC_FEE_WALLET=EMp2t1K5Du4sQLA5v2YGKfCWjsLE2T5eNbhYjGGLRcLo
EXPO_PUBLIC_FINNHUB_API_KEY=your-finnhub-api-key
